## 1- connect to database

In [1]:
import psycopg2

# Connection parameters, yours will be different
params_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "admin"
}

conn = psycopg2.connect(**params_dic)
cur = conn.cursor()

## 2-excute select query

In [2]:
cur.execute("""SELECT c.company_name , c.city ,c.country , Count(o.*)  as orders_count
                from customers c left outer join orders o 
                on c.customer_id = o.customer_id
                group by c.customer_id
                order by count(o.*);
                """)
resultList = cur.fetchall()

## 3-create dataframe from sql (listofTuble)

In [3]:
import pandas as pd
df = pd.DataFrame(resultList,  columns=["company_name" ,"city", "country","Count"])
df

                            company_name         city    country  Count
0   FISSA Fabrica Inter. Salchichas S.A.       Madrid      Spain      0
1                      Paris spécialités        Paris     France      0
2             Centro comercial Moctezuma  México D.F.     Mexico      1
3                   GROSELLA-Restaurante      Caracas  Venezuela      2
4                   Lazy K Kountry Store  Walla Walla        USA      2
..                                   ...          ...        ...    ...
86          Hungry Owl All-Night Grocers         Cork    Ireland     19
87                        Folk och fä HB       Bräcke     Sweden     19
88                            QUICK-Stop    Cunewalde    Germany     28
89                          Ernst Handel         Graz    Austria     30
90                    Save-a-lot Markets        Boise        USA     31

[91 rows x 4 columns]

In [4]:
df[df.Count==0]

                           company_name    city country  Count
0  FISSA Fabrica Inter. Salchichas S.A.  Madrid   Spain      0
1                     Paris spécialités   Paris  France      0