In [74]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
#players names, rank, number of goals, and their nationalities
#  
xpath='//td[@scopr="row"]| //td[@class="rank"] | //td[@class="mainStat text-centre"]| //span[@class="playerCountry"] '
driver = webdriver.Chrome()
#exit premier laeague window


driver.get('https://www.premierleague.com/stats/top/players/goals?se=-1')  
 
#sleep(50000)

#players_names = driver.find_elements(By.XPATH, xpath)

In [77]:
players_names = driver.find_elements(By.XPATH,xpath)

In [78]:
print("first_player full info", players_names[0])
print("first_player", players_names[0].text)
players_list = []
for p in range(0,len(players_names)):
    players_list.append(players_names[p].text)
#players_list = players_list[2:]
print(players_list) 
#driver.close()

first_player full info <selenium.webdriver.remote.webelement.WebElement (session="2739cc314b7393809c005df45a2361e8", element="4c6f7925-0cb6-416f-8750-d476f2968287")>
first_player 1
['1', 'Alan Shearer', 'England', '', '2', 'Wayne Rooney', 'England', '', '3', 'Andrew Cole', 'England', '', '4', 'Sergio Agüero', 'Argentina', '', '5', 'Frank Lampard', 'England', '', '6', 'Thierry Henry', 'France', '', '7', 'Harry Kane', 'England', '', '8', 'Robbie Fowler', 'England', '', '9', 'Jermain Defoe', 'England', '', '10', 'Michael Owen', 'England', '', '11', 'Les Ferdinand', 'England', '', '12', 'Teddy Sheringham', 'England', '', '13', 'Robin van Persie', 'Netherlands', '', '14', 'Jimmy Floyd Hasselbaink', 'Netherlands', '', '14', 'Jamie Vardy', 'England', '', '16', 'Robbie Keane', 'Ireland', '', '17', 'Nicolas Anelka', 'France', '', '18', 'Dwight Yorke', 'Trinidad & Tobago', '', '19', 'Steven Gerrard', 'England', '', '20', 'Romelu Lukaku', 'Belgium', '']

In [104]:
#df = pd.DataFrame(columns=['Rank','name','country','stat'])

import numpy as np
arr =np.array(players_list)
print(arr)
arr= arr.reshape((-1,4))
df = pd.DataFrame(data=arr, columns=['Rank','name','country','stat']) # creates dataframe of each tuple in list

print(arr)

['1' 'Alan Shearer' 'England' '' '2' 'Wayne Rooney' 'England' '' '3'
 'Andrew Cole' 'England' '' '4' 'Sergio Agüero' 'Argentina' '' '5'
 'Frank Lampard' 'England' '' '6' 'Thierry Henry' 'France' '' '7'
 'Harry Kane' 'England' '' '8' 'Robbie Fowler' 'England' '' '9'
 'Jermain Defoe' 'England' '' '10' 'Michael Owen' 'England' '' '11'
 'Les Ferdinand' 'England' '' '12' 'Teddy Sheringham' 'England' '' '13'
 'Robin van Persie' 'Netherlands' '' '14' 'Jimmy Floyd Hasselbaink'
 'Netherlands' '' '14' 'Jamie Vardy' 'England' '' '16' 'Robbie Keane'
 'Ireland' '' '17' 'Nicolas Anelka' 'France' '' '18' 'Dwight Yorke'
 'Trinidad & Tobago' '' '19' 'Steven Gerrard' 'England' '' '20'
 'Romelu Lukaku' 'Belgium' '']
[['1' 'Alan Shearer' 'England' '']
 ['2' 'Wayne Rooney' 'England' '']
 ['3' 'Andrew Cole' 'England' '']
 ['4' 'Sergio Agüero' 'Argentina' '']
 ['5' 'Frank Lampard' 'England' '']
 ['6' 'Thierry Henry' 'France' '']
 ['7' 'Harry Kane' 'England' '']
 ['8' 'Robbie Fowler' 'England' '']
 ['9' 'Jermain Defoe' 'England' '']
 ['10' 'Michael Owen' 'England' '']
 ['11' 'Les Ferdinand' 'England' '']
 ['12' 'Teddy Sheringham' 'England' '']
 ['13' 'Robin van Persie' 'Netherlands' '']
 ['14' 'Jimmy Floyd Hasselbaink' 'Netherlands' '']
 ['14' 'Jamie Vardy' 'England' '']
 ['16' 'Robbie Keane' 'Ireland' '']
 ['17' 'Nicolas Anelka' 'France' '']
 ['18' 'Dwight Yorke' 'Trinidad & Tobago' '']
 ['19' 'Steven Gerrard' 'England' '']
 ['20' 'Romelu Lukaku' 'Belgium' '']]

In [105]:
df.info()
df.to_csv("players_names.csv", header=True, index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     20 non-null     object
 1   name     20 non-null     object
 2   country  20 non-null     object
 3   stat     20 non-null     object
dtypes: object(4)
memory usage: 768.0+ bytes

In [106]:
driver.close()

In [107]:
import pandas as pd
df = pd.read_json ('players_stats.json')
df.info()
df.head()
df.to_csv ('data_out.csv', index = None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             21 non-null     object
 1   Height_cm        21 non-null     int64
 2   Appearances      21 non-null     int64
 3   Wins             21 non-null     int64
 4   Losses           21 non-null     int64
 5   Goals_per_match  21 non-null     float64
 6   Assists          21 non-null     int64
 7   Yellow_cards     21 non-null     int64
 8   Red_cards        21 non-null     int64
dtypes: float64(1), int64(7), object(1)
memory usage: 1.6+ KB