## 1-read csv file in dataframe remotly

In [3]:
import pandas as pd
csv_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
csv_df.info()
csv_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, count to max
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  6 non-null      float64
 1   sepal_width   6 non-null      float64
 2   petal_length  6 non-null      float64
 3   petal_width   6 non-null      float64
dtypes: float64(4)
memory usage: 240.0+ bytes

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
50%        5.800000     3.000000      4.350000     1.300000

## 2-display mean,min ,max for all col

In [ ]:
csv_df.mean()

In [ ]:
csv_df.max()

In [ ]:
csv_df.min()

In [2]:
#pd.set_option('display.precision', 2)
csv_df.describe(percentiles=[])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
50%        5.800000     3.000000      4.350000     1.300000
max        7.900000     4.400000      6.900000     2.500000