## 1- read xml & create dataframe

In [20]:
import pandas as pd

breakfast = pd.read_xml('breakfast_menu.xml')
breakfast.info()
breakfast.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   price        5 non-null      object
 2   description  5 non-null      object
 3   calories     5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Belgian waffles covered with assorted fresh be...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

## 2-delete $ signe

TypeError: cannot convert the series to <class 'float'>

In [16]:
breakfast.price =breakfast.price.map(lambda txt:float(str(txt)[1:])) 
#breakfast.price = breakfast['price'].str[1:]
breakfast.info()
breakfast.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   price        5 non-null      object
 2   description  5 non-null      object
 3   calories     5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

,name,price,description,calories
0,Belgian Waffles,5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,8.95,Belgian waffles covered with assorted fresh be...,900
3,French Toast,4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

## 3- convert to csv

In [45]:
breakfast.to_csv("csv_file.csv", index=False, sep=";", columns=['name','price','calories'])